In [ ]:
#Cargar las librerias a utilizar
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sgit

In [2]:
# Leer el Dataframe
Ticketsdf = pd.read_csv(r'C:\Users\flore\OneDrive\Documents\Proyecto Final Clonado\ProyectoIntegradorDAFT08\Data\Data Original\tickets.csv')

In [ ]:
# Mostrar los tipos de datos de las columnas
print("Tipos de datos para la tabla 'Ticketsdf':")
print(Ticketsdf.dtypes)

Tipos de datos para la tabla 'seatsdf':
ticket_no        int64
book_ref        object
passenger_id    object
dtype: object

In [5]:
np.shape(Ticketsdf)

(366733, 3)

In [6]:
# Mostrar las primeras filas
Ticketsdf.head()

    ticket_no book_ref passenger_id
0  5432000987   06B046  8149 604011
1  5432000988   06B046  8499 420203
2  5432000989   E170C3  1011 752484
3  5432000990   E170C3  4849 400049
4  5432000991   F313DD  6615 976589

In [7]:
# Comprobar valores nulos
print(Ticketsdf.isnull().sum())

ticket_no       0
book_ref        0
passenger_id    0
dtype: int64

In [8]:
# Eliminar filas donde todas las columnas son nulas
Ticketsdf = Ticketsdf.dropna(how='all')
# Eliminar columnas donde todas las filas son nulas
Ticketsdf = Ticketsdf.dropna(axis=1, how='all')

In [9]:
np.shape(Ticketsdf)

(366733, 3)

In [10]:
Ticketsdf.to_csv("Ticketsdf_data_clean.csv", index=False)