In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Leer el Dataframe
boardingPasses = pd.read_csv(r'C:\Users\flore\OneDrive\Documents\Proyecto Final Clonado\ProyectoIntegradorDAFT08\Data\Data Original\boarding_passes.csv')

In [4]:
# Mostrar los tipos de datos de las columnas
print("Tipos de datos para la tabla 'boardingPasses':")
print(boardingPasses.dtypes)

Tipos de datos para la tabla 'boardingPasses':
ticket_no       int64
flight_id       int64
boarding_no     int64
seat_no        object
dtype: object

In [5]:
# Mostrar shape
np.shape(boardingPasses)

(579686, 4)

In [6]:
boardingPasses.head()

    ticket_no  flight_id  boarding_no seat_no
0  5435212351      30625            1      2D
1  5435212386      30625            2      3G
2  5435212381      30625            3      4H
3  5432211370      30625            4      5D
4  5435212357      30625            5     11A

In [7]:
# Eliminar filas donde todas las columnas son nulas
boardingPasses = boardingPasses.dropna(how='all')
# Eliminar columnas donde todas las filas son nulas
boardingPasses = boardingPasses.dropna(axis=1, how='all')

In [8]:
# Mostrar shape
np.shape(boardingPasses)

(579686, 4)

In [9]:
# Comprobar valores nulos
print(boardingPasses.isnull().sum())

ticket_no      0
flight_id      0
boarding_no    0
seat_no        0
dtype: int64

In [10]:
boardingPasses.to_csv("boardingPasses_data_clean.csv", index=False)

Tabla Puente